@import "tailwindcss";

/* Custom colors and theme settings for MedAura Pharmacy.
  Meka Tailwind v4 wala theme eka extend karana widiya.
*/
@theme {
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-emerald-700: #047857;
  --color-emerald-800: #065f46;
}

/* Custom global styles (Optional)
*/
:root {
  font-family: 'Inter', sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900;
}